body{
  background-image: url(/images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: crimson;
  font-family: MedievalSharp;
   font-style: normal; 
   font-variant: normal; 
   font-weight: 700; 
   line-height: 26.4px;
}

img{
  padding: 5px;
}
.all-players,  .boss-info{
float:left;
color:black;
background: burlywood url('') no-repeat local right;
overflow:hidden;
text-align: justify;
opacity: .9;
fill-opacity: inherit;
border: 1px;
border-color: black;
border-style: ridge;
border-radius: 15px 50px;
margin-bottom: 16px;
padding: 20px;
padding-left: 40px;
padding-right: 7px;

}

.hidden1{
  display: none;
}

.hidden2{
  display: none;
}
.hidden3{
  display: none;
}


h1 h2 h4 h5{ 
  font-family: MedievalSharp;
   font-size: 24px; 
   font-style: normal; 
   font-variant: normal; 
   font-weight: 700; 
   line-height: 26.4px; 
  } 
   h3 {
     font-family: MedievalSharp; 
    font-size: 14px; 
    font-style: normal;
   font-variant: normal; 
   font-weight: 700; 
  line-height: 15.4px;
} 
   p {
     font-family: MedievalSharp;
      font-size: 14px;
       font-style: normal;
        font-variant: normal; 
        font-weight: 400;
         line-height: 20px; 
        }
          blockquote {
             font-family: MedievalSharp;
             font-size: 21px;
              font-style: normal; 
              font-variant: normal; 
              font-weight: 400;
               line-height: 30px; 
              } 
               pre {
                  font-family: MedievalSharp; 
                  font-size: 13px; 
                  font-style: normal; 
                  font-variant: normal; 
                  font-weight: 400; 
                  line-height: 18.5714px; 
                }